.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10vw auto;
}
form h1 {
  font-size: 7vw;
}
form input,
textarea,
button {
  border-radius: 0.25rem;
  width: 70%;
  margin: 2rem auto;
  font-size: 2rem;
  border-color: #61dafb;
  background-color: #181e2e;
  color: #61dafb;
  border-radius: 0.4rem;
  padding: 1% 3%;
}
form button {
  cursor: pointer;
  border-color: #61dafb;
  background-color: #181e2e;
  color: #61dafb;
  border-radius: 0.4rem;
}
@media only screen and (max-width: 480px) {
  form input,
  textarea {
    width: 100%;
  }
  form button {
    width: 80%;
  }
  form {
    width: 90%;
  }
}
