* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #181e2e;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
